/*

!.gitignore
!README.md
!wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/twentytwentyfour-child-tripa/
!/wp-content/themes/twentytwentyfour-child-tripa/**

.DS_Store
Thumbs.db
*.log
